<template>
    <button
            class="puzzle__tile"
            :free="tile.state.free"
            @click="move(tile.coordinates.x, tile.coordinates.y)"
    >
        {{ tile.state.label }}
    </button>
</template>

<script>
  export default {
    props: ['tile', 'puzzleGrid', 'gridDimension', 'puzzleGridVictory'],
    methods: {
      move(x, y) {
        if ((y - 1 >= 0) && (this.puzzleGrid[y - 1][x].state.free === true)) {
          this.$emit('successfulMove');
          this.swap('up', x, y);
        } else if ((y + 1 <= this.gridDimension - 1) && (this.puzzleGrid[y + 1][x].state.free === true)) {
          this.$emit('successfulMove');
          this.swap('down', x, y);
        } else if ((x - 1 >= 0) && (this.puzzleGrid[y][x - 1].state.free === true)) {
          this.$emit('successfulMove');
          this.swap('left', x, y);
        } else if ((x + 1 <= this.gridDimension - 1) && (this.puzzleGrid[y][x + 1].state.free === true)) {
          this.$emit('successfulMove');
          this.swap('right', x, y);
        } else {
          this.$emit('specialEvent', 'This tile cannot be moved');
          return false;
        }
      },

      swap(direction, x, y) {
        if (direction === 'up') {
          [this.puzzleGrid[y][x].state, this.puzzleGrid[y - 1][x].state] = [this.puzzleGrid[y - 1][x].state, this.puzzleGrid[y][x].state];
          this.checkVictory();
        } else if (direction === 'down') {
          [this.puzzleGrid[y][x].state, this.puzzleGrid[y + 1][x].state] = [this.puzzleGrid[y + 1][x].state, this.puzzleGrid[y][x].state];
          this.checkVictory();
        } else if (direction === 'left') {
          [this.puzzleGrid[y][x].state, this.puzzleGrid[y][x - 1].state] = [this.puzzleGrid[y][x - 1].state, this.puzzleGrid[y][x].state];
          this.checkVictory();
        } else if (direction === 'right') {
          [this.puzzleGrid[y][x].state, this.puzzleGrid[y][x + 1].state] = [this.puzzleGrid[y][x + 1].state, this.puzzleGrid[y][x].state];
          this.checkVictory();
        }
      },

      checkVictory () {
        for (let i = 0; i < this.gridDimension; i++) {
          for (let j = 0; j < this.gridDimension; j++) {
            if (this.puzzleGrid[i][j].state.label !== this.puzzleGridVictory[i][j].state.label) {
              return false;
            }
          }
        }
        this.$emit('specialEvent', 'Victory!');
        return true;
      }
    },
  }
</script>

<style lang="scss" scoped>
    .puzzle__tile {
        box-sizing: border-box;
        height: 50px;
        width: 50px;
        text-align: center;
        vertical-align: top;
        border: 0;
        border-radius: .2em;
        background-color: #42b983;
        color: #fff;
        user-select: none;
        cursor: pointer;
        transition: background-color .25s, border-color .25s;
    }

    [free="true"] {
        background-color: transparent;
        border: 1px solid #e8e8e8;
        outline: none;
        cursor: default;
    }
</style>