<template>
    <div id="app">
        <div class="puzzle__board">
            <table class="puzzle__grid">
                <tr v-for="row in puzzleGrid" :key="row.id">
                    <td v-for="tile in row" :key="tile.id">
                        <PuzzleTile
                                :tile="tile"
                                :gridDimension = 'gridDimension'
                                :puzzleGrid = 'puzzleGrid'
                                :puzzleGridVictory = 'puzzleGridVictory'
                                @successfulMove="incrementTotalMoves"
                                @specialEvent="updateStatus"
                        >
                        </PuzzleTile>
                    </td>
                </tr>
            </table>
            <p class="puzzle__status" v-html="status"></p>
        </div>
    </div>
</template>

<script>
  import PuzzleTile from './components/PuzzleTile.vue'

  export default {

    name: 'app',
    components: {
      PuzzleTile
    },

    data() {
      return {
        gridDimension: 4,
        tiles: [],
        puzzleGrid: [],
        puzzleGridVictory: [],

        status: 'Click a <b>tile</b> to start',
        moves: 0
      }
    },

    mounted() {
      for (let i = 1; i <= this.nbrOfTiles; i++) {
        this.tiles.push(i);
      }

      this.initialisePuzzleGridVictory();
      this.shuffleArray(this.tiles);
      this.initialisePuzzleGrid();
    },

    computed:{
      nbrOfTiles() {
        return Math.pow(this.gridDimension, 2)
      }
    },

    methods: {
      updateStatus(status) {
        this.status = status;
      },
      incrementTotalMoves() {
        this.moves += 1;
        this.status = 'Move' + (this.moves > 1 ? 's: ' : ': ') + '<b>' + this.moves + '</b>';
      },

      initialisePuzzleGrid() {
        let i = 0;
        for (let j = 0; j < this.gridDimension; j++) {
          let row = [];
          for (let k = 0; k < this.gridDimension; k++) {
            row.push({
              coordinates: {
                x: k,
                y: j,
              },
              state: {
                free: this.tiles[i] == this.nbrOfTiles ? true : false,
                label: this.tiles[i] == this.nbrOfTiles ? (this.tiles[i++], '') : this.tiles[i++],
              },
            })
          }
          this.puzzleGrid.push(row);
        }
        return this.puzzleGrid;
      },

      shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
          let j = Math.floor(Math.random() * (i + 1));
          [array[i], array[j]] = [array[j], array[i]];
        }
      },

      initialisePuzzleGridVictory() {
        let i = 0;
        for (let j = 0; j < this.gridDimension; j++) {
          let row = [];
          for (let k = 0; k < this.gridDimension; k++) {
            row.push({
              state: {
                label: this.tiles[i] == this.nbrOfTiles ? (this.tiles[i++], '') : this.tiles[i++],
              },
            })
          }
          this.puzzleGridVictory.push(row);
        }
        return this.puzzleGridVictory;
      }
    },
  }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        min-height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .puzzle__grid {
        margin: 0 auto;
    }
</style>
